In [1]:
import pandas as pd

In [6]:
countries = pd.read_csv('countries.csv')
confirmed = pd.read_csv('generated/confirmed.csv')

In [9]:
merged = confirmed.merge(countries, how='left', left_on='Country/Region', right_on='country')

In [10]:
merged[merged['country'].isnull()]

,Country/Region,population,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/31/20,4/1/20,4/2/20,4/3/20,4/4/20,4/5/20,4/6/20,4/7/20,4/8/20,country
43,Czech Republic,10689209,49.817500,15.473000,0,0,0,0,0,0,...,3308,3508,3858,4091,4472,4587,4822,5017,5312,NaN
44,Democratic Republic of the Congo,86790567,-4.038300,21.758700,0,0,0,0,0,0,...,98,109,134,134,154,154,161,180,180,NaN
82,Ivory Coast,25716544,7.540000,-5.547100,0,0,0,0,0,0,...,179,190,194,218,245,261,323,349,384,NaN
91,Laos,7169455,19.856270,102.495496,0,0,0,0,0,0,...,9,10,10,10,10,11,12,14,15,NaN
122,North Macedonia,2083459,41.608600,21.745300,0,0,0,0,0,0,...,329,354,384,430,483,555,570,599,617,NaN
135,Russia,145872256,60.000000,90.000000,0,0,0,0,0,0,...,2337,2777,3548,4149,4731,5389,6343,7497,8672,NaN
152,South Korea,51225308,36.000000,128.000000,1,1,2,2,3,4,...,9786,9887,9976,10062,10156,10237,10284,10331,10384,NaN
156,State of Palestine,4981420,31.952200,35.233200,0,0,0,0,0,0,...,119,134,161,194,217,237,254,261,263,NaN
161,Syria,17070135,34.802075,38.996815,0,0,0,0,0,0,...,10,10,16,16,16,19,19,19,19,NaN
163,Tanzania,58005463,-6.369000,34.888800,0,0,0,0,0,0,...,19,20,20,20,20,22,24,24,25,NaN
174,United States,329064917,37.090200,-95.712900,1,1,2,2,5,5,...,188172,213372,243616,275586,308850,337072,366667,396223,429052,NaN
177,Vatican City,799,41.902900,12.453400,0,0,0,0,0,0,...,6,6,7,7,7,7,7,7,8,NaN
179,Vietnam,96462106,16.000000,108.000000,0,2,2,2,2,2,...,212,218,233,237,240,241,245,249,251,NaN